body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* SingleLandlord */
.icon {
  vertical-align: bottom;
}
.home-view {
  height: 100%;
}

.map-container {
  position: relative;
  min-height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.home-input {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 500px;
  height: 35px;
}

.home-input input {
  background-color: black;
  color: yellow;
  width: 500px;
  height: 35px;
}

.navbar {
  background-color: darkgray;
  color: orange;
}

#selectDiv {
  width: 150px;
}

#reviewForm {
  width: 300px;
  margin-left: 10px;
}

#TextInput-4 {
  width: 100px;
}

#TextInput-5 {
  width: 300px;
}
