@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

@font-face {
  font-family: "Space Mono";
  src: url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
}

body {
  font-family: "Space Mono";
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* nav {
  z-index: 1;
} */

.sidenav {
  background-color: darkgrey;
  color: orange;
  display: flex;
  flex-direction: column;
}

.sidenav li {
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* SingleLandlord */
.single-landlord-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#single-landlord-map {
  max-width: 35em;
  margin: 0em;
}

#single-landlord-num-reviews {
  margin-bottom: 1em;
}

.single-landlord-grade-recommend {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
#single-landlord-ratings {
  margin-top: 2.5em;
}

canvas.chartjs-render-monitor {
  width: 350px;
  height: 320px;
}

.single-landlord-card {
  background-color: lightgray;
  /* border-radius:5%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 2em;
  margin-bottom: 1em;
  min-height: 250px;
  padding: 1.5em;
  padding-right: 3em;
  width: 45vw;
}

.single-landlord-graphs {
  display: flex;
  justify-content: space-evenly;
}

.header-description {
  margin: 2em;
  margin-bottom: 0;
  margin-left: 3em;
}

#landlord-bar-chart {
  -webkit-transform: scale(0.9);
}

#chartdiv {
  width: 100%;
  height: 450px;
}

#chartdiv_wordCloud {
  width: 350px;
  height: 300px;
}

#single-landlord-name {
  font-size: xx-large;
}

div.col.s12.m12.l12 {
  width: 35em;
  height: 500px;
  margin-top: 1em;
}

.icon {
  vertical-align: bottom;
}

.leaflet-container {
  width: 100%;
  height: 600px;
}

div#tab_tabs-111.col.s12.active {
  height: 600px;
}

/* Home */
.home-view {
  height: 100%;
}

.leaflet-top .leaflet-control {
  margin-top: 7em;
  position: fixed;
}

.map-container {
  position: relative;
  min-height: 100vh;
  height: 100%;
  min-width: 100vh;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.results-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.home-input {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  /* width: 500px;
  height: 35px; */
  display: flex;
  flex-direction: column;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.loading-screen img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-input div {
  display: flex;
  justify-content: space-between;
}

.home-input .searchBy {
  width: 50%;
}

.home-input input,
.home-dropdown input {
  background-color: black;
  color: yellow;
  width: 500px;
  font-family: "Space Mono";
}

.select-option {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.leaflet-marker-icon {
  opacity: 0.5;
}

#order-filter {
  width: 550px;
  margin-left: 1em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

#reviewForm {
  width: 300px;
  margin-left: 10px;
}

#TextInput-4 {
  width: 100px;
}

#TextInput-5 {
  width: 300px;
}

.results-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5em;
  margin-right: 5em;
}

.results-maps {
  margin: 1em;
  min-width: 35vw;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
}

.results-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-single-landlord-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#results-header {
  background-color: lightgray;
  margin-left: 2em;
  margin-bottom: 1em;
  padding: 0.8em;
  width: 46vw;
}

.building-num-reviews {
  margin-left: 2em;
}

.single-building-map {
  min-width: 30vw;
  min-height: 40vh;
}

#results-num-reviews {
  font-weight: bold;
}

#results-landlord-name {
  font-weight: bold;
  color: blue;
  font-size: larger;
}

#results-address {
  font-weight: bold;
  /* font-size: larger; */
  font-stretch: condensed;
}

/* All Landlords */
.landlords-grade,
.single-landlord-grade {
  font-size: xx-large;
  border-radius: 50%;
  padding: 0em 0.5em;
}

._3vt7_Mh4hRCFbp__dFqBCI {
  max-width: 250px;
}

/*
._2iA8p44d0WZ-WqRBGcAuEV   -  search bar border - max height
*/

.single-landlord-grade {
  margin-right: 1em;
}

.grade-a {
  background-color: chartreuse;
}

.grade-b {
  background-color: rgb(187, 255, 0);
}

.grade-c {
  background-color: rgb(255, 251, 0);
}

.grade-d {
  background-color: rgb(255, 187, 0);
}

.grade-f {
  background-color: orangered;
}

.landlords-recommend {
  margin-left: 0.5em;
  font-size: large;
  background-color: rgba(255, 0, 43, 0.301);
  padding: 0em 0.5em;
  font-style: italic;
  font-weight: bolder;
  opacity: 0.75;
}

.landlord-recommended {
  font-size: large;
  background-color: rgba(255, 0, 43, 0.301);
  padding: 0.2em 0.5em;
  /* padding-left:  */
  font-style: italic;
  font-weight: bolder;
  opacity: 0.75;
  width: 8em;
  margin: 0.5em 0em;
}

.landlord-not-recommended {
  font-size: large;
  background-color: rgba(255, 0, 43, 0.301);
  padding: 0.2em 0.5em;
  font-style: italic;
  font-weight: bolder;
  opacity: 0.75;
  width: 10em;
  margin: 0.5em 0em;
}

.rating-value {
  font-size: 22px;
}

.landlords-num-reviews {
  margin-top: 1.5em;
  font-size: 13px;
}

/* ReviewList */
.review-card {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  /* border-radius:5%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /* margin: 2em; */
  min-height: 300px;
  padding: 1.5em;
  -webkit-transform: scale(0.9);
  /* white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis; */
}

.building-review-list {
  max-width: 60em;
}

.user-review-date {
  margin-right: 2em;
}

#user-review-date-edit {
  display: flex;
}

.user-review-landlord-address {
  display: flex;
  flex-direction: column;
}

.landlord-review-list {
  max-width: 80em;
}

.review-boxes {
  display: flex;
  flex-direction: column;
  width: 8em;
  margin-top: 1em;
}

.review-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  /* align-items: center;*/
  margin-right: 2em;
}

.box-name {
  text-transform: uppercase;
  font-weight: bolder;
}

.box-value {
  display: flex;
  font-size: xx-large;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  background-color: salmon;
  width: 80px;
  height: 80px;
}

.review-body {
  width: 65em;
  max-width: 6;
  display: flex;
  flex-direction: column;
}

.review-address-date {
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  font-size: large;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.user-review-address {
  font-size: smaller;
}

.review-ratings,
.single-landlord-ratings {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.review-rating {
  margin-left: 2em;
}

.review-rating-name {
  font-weight: bolder;
}

.review-rating-num {
  font-size: x-large;
  font-weight: bolder;
}

.review-comments {
  font-size: large;
  min-height: 7em;
  max-width: 65em;
}

.review-tags {
  min-height: 37px;
  margin-bottom: 1em;
}

.pac-container {
  z-index: 1051 !important;
}

.review-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-thumbs {
  display: flex;
  justify-content: space-between;
  width: 8em;
}

.review-mail-flag {
  display: flex;
  justify-content: space-between;
}

.transparent-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.transparent-button:hover {
  -webkit-transform: scale(1.2);
}

#tab_tabs-111 {
  overflow: scroll;
}

/* RentHistory */

.explore-card {
  height: 15px;
}

.auth-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#account-container {
  margin: 100px 11vw;
  background-color: rgb(250, 229, 229);
}

i.material-icons {
  color: black;
  /* font-size: 2rem; */
}

button.btn.transparent-button {
  box-shadow: none;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.carousel-card {
  display: flex;
  flex-direction: column;
  width: 33%;
  max-height: 33%;
  margin: 2em;
  background-color: rgba(19, 12, 12, 0.062);
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}

.carousel-card img {
  max-height: 200px;
  width: 300px;
  object-fit: contain;
  margin: 1em;
}

.carousel-card div {
  text-align: center;
}

.select-preferences {
  display: flex;
}

.featured-loading {
  text-align: center;
  animation: loading03 1.3s infinite alternate;
}

.featured-container h4 {
  text-align: center;
}

.preference-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .preference-input>span{
  top: 50%;
  bottom: 50%;
} */

@keyframes loading03 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    font-size: 1rem;
  }

  .single-landlord {
    margin: 0em;
  }

  .home-input {
    max-width: 90%;
    font-size: 1rem;
  }

  .home-input input {
    max-width: 100%;
  }

  .sidenav-overlay {
    z-index: 3;
  }

  .sidenav-overlay {
    z-index: 3;
  }

  .searchBy {
    font-size: 0.8rem;
  }

  .results-container {
    display: flex;
    flex-direction: column;
    align-items: unset;
  }
  #account-container {
    margin: 100px 0vw;
  }
  .review-card {
    margin: 0.5em;
    margin-bottom: 1.5em;
  }

  #helpDiv {
    background-color: pink;
    color: white;
    display: flex;
    height: 80%;
    width: 80%;
    margin: 3em;
    /* height: 400px;
    width: 300px;
    margin-top: -100px;
    margin-left: -400px;
    border-radius: 0px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-align: left; */
  }

  #helpDiv:before {
    border-radius: 0;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1300px) {
  .single-landlord-info {
    flex-direction: column;
  }
  #account-container {
    margin: 50px 10vw;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .row .col {
    padding: 0rem;
  }

  .preference-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #chartdiv_wordCloud {
    width: 300px;
    height: 260px;
  }

  .single-landlord-grade {
    margin-right: 2em;
  }

  .single-landlord-card {
    width: 90vw;
    margin: 1em 1.35em;
  }

  #results-header {
    width: 95%;
    margin: 0em;
    margin-top: 1em;
  }

  .widget-ratings {
    margin-left: -30px;
    width: 500px;
  }
  div.modal-content {
    margin-top: -115px;
    margin-left: -50px;
    -webkit-transform: scale(0.75);
  }
  .carousel-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    max-height: 33%;
    margin: 2em;
    background-color: rgba(19, 12, 12, 0.062);
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
      0 1px 5px 0 rgb(0 0 0 / 20%);
  }

  .carousel-card img {
    max-height: 200px;
    max-width: 250px;
    object-fit: contain;
    margin: 1em;
  }

  .carousel-card div {
    text-align: center;
  }

  .select-preferences {
    display: flex;
  }

  .featured-loading {
    text-align: center;
    animation: loading03 1.3s infinite alternate;
  }

  .featured-container h4 {
    text-align: center;
  }
  .leaflet-container {
    height: 65vh;
  }

  div#tab_tabs-111.col.s12.active {
    height: auto;
  }
  .single-landlord-info {
    flex-direction: column;
  }

  #single-landlord-name {
    font-size: x-large;
  }

  .results-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
  }

  .single-landlord-graphs {
    flex-direction: column;
  }

  .single-landlord-ratings {
    flex-direction: column;
  }

  div.col.s12.m12.l12 {
    width: 90vw;
    height: 60vh;
    margin-top: 1em;
    margin-left: 5vw;
  }

  nav .brand-logo {
    font-size: 1rem;
  }
  #account-container {
    margin: 25px 0vw;
  }

  #order-filter {
    flex-direction: column;
    width: 300px;
  }

  h3 {
    margin-left: 0.3em;
  }

  .rowcontainer {
    margin: 1em;
  }
  .review-card {
    margin: 1em;
    margin-bottom: 1.5em;
    /* margin-left: 3vw; */
    padding: 1em;
    width: 93vw;
    -webkit-transform: scale(1);
  }

  .landlord-review-list {
    max-width: 100vw;
  }

  .review-boxes {
    margin-top: 1em;
    width: 5em;
  }

  .review-box {
    margin-right: 0em;
  }

  .box-name {
    font-size: small;
  }

  .box-value {
    width: 65px;
    height: 65px;
    font-size: x-large;
  }

  .review-address-date {
    flex-direction: column;
    font-size: small;
  }

  .review-address {
    font-size: 14px;
  }

  .review-date {
    visibility: hidden;
    height: 0em;
  }

  .review-ratings {
    flex-direction: column;
    margin-left: 2.5em;
  }

  #helpDiv {
    background-color: gray;
    color: black;
    display: flex;
    height: 80vh;
    width: 80vh;
    margin: 3em;
    height: 400px;
    width: 300px;
    margin-top: -80%;
    margin-left: -50%;
    border-radius: 10px;
    padding: 1em;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    text-align: left;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
      0 1px 5px 0 rgb(0 0 0 / 20%);
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  }

  #helpDiv:before {
    border-radius: 0;
  }

  .review-rating {
    margin-left: 0em;
  }

  .review-rating-num {
    font-size: 20px;
  }

  .review-comments {
    font-size: 14px;
    min-height: 5em;
    margin-left: 1em;
    width: 60vw;
  }

  .review-tags {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    max-width: 60vw;
    flex-wrap: wrap;
  }

  .review-buttons {
    width: 85vw;
    width: 65vw;
  }

  .review-thumbs {
    width: 7.5em;
  }

  .review-mail-flag {
    -webkit-transform: scale(1.4);
  }

  .searchBy {
    font-size: 0.8rem;
  }
}

/* population by borough styling */
@media only screen and (max-width: 992px) {
  div.chart-container {
    height: 300px;
    width: 300px;
  }
  #outside-container {
    display: flex;
    flex-direction: column;
  }
  div.inline-container {
    margin-bottom: 30px;
  }
  svg {
    margin-top: -20px;
    margin-left: 40px;
  }
  .sidebar {
    font-size: 10px;
  }
  p svg {
    margin-left: -5px;
  }
}

/* FAB styling */
i.material-icons.helpFAB {
  color: white;
}

@media only screen and (min-width: 400px) {
  #helpDiv {
    background-color: black;
    color: white;
    height: 125px;
    width: 900px;
    margin-top: -150px;
    margin-left: -400px;
    border-radius: 0px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-align: left;
  }

  #helpDiv:before {
    border-radius: 0;
  }
}
